@import '../libs/bootstrap/css/bootstrap.min.css';
@import '../libs/font-awesome-4.6.3/css/font-awesome.css';
@import './components/fonts.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'ProximaNovaRegular';
  font-size: 14px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.slider-pagination {
  display: inline-block;
  width: 15px;
  height: 100px;
  position: absolute;
  right: 30px;
  top: 44%;
}

.slide-1 {
  min-height: 100vh;
  background: url(../img/pic_1920.jpg) 50% 10% no-repeat;
  background-size: cover;
  position: relative;

  
}

.header {
  background: #fff;

  &__logo {
    display: inline-block;
    padding: 16px 0;
  }

  &__learn-more {
    padding: 30px 0;
    a {
      color: #ce1350;
      text-decoration: underline;
      text-decoration-color: #e8e8e8;

      &:hover {
        text-decoration: none;
      }

      i {
        padding-left: 12px;
      }
    }
    
  }
}

.main-navigation {
  padding: 30px 42px;

  a {
    color: #999999;
    text-decoration: underline;
    text-decoration-color: #e8e8e8;
    padding-right: 20px;

    &:hover {
      text-decoration: none;
    }
  }
}

.jumbotron {
  
  &__heading {
    margin-top: 20%;
    margin-bottom: 20px;
    margin-left: -20px;

    max-width: 810px;
    h1 {
      font-family: 'ProximaNovaLight';
      display: inline;
      line-height: 1.25;
      font-size: 48px;
      color: #fff;
      background: rgba(91,40,110,0.4);
      
    }
    
  }

  &__btn {
    margin-left: -20px;
  }
}

.btn {
  display: inline-block;
  font-family: 'ProximaNovaBold';
  padding: 18px 30px;
  background: #3a7dbb;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;

  &:hover {
    background: #5492cb;
    text-decoration: none;
    color: #fff;
  }
}


.slide-2 {
  min-height: 100vh;
  background: #f8f8f8;
  padding-top: 6%;
  position: relative;
}

.s2-ipad {
  height: 100%;
  margin-left: -40px;
  position: relative;
}

.s2-content {
  padding-left: 14px;

  &__heading {
    font-family: 'ProximaNovaBold';
    color: #4182bd;
    font-size: 30px;
  }

  &__text {
    color: #52555c;
    line-height: 1.6;
  }

  h2 {
    font-family: 'ProximaNovaBold';
    color: #3d4258;
    font-size: 18px;
  }

  .btn {
    color: #3d4258;
    background: #f8f8f8;
    border: 2px solid #3d4258;
    padding: 12px 30px;
  }
}

.numbers {
  margin-top: 30px;

  span {
    font-family: 'ProximaNovaBold';
    font-size: 72px;
    line-height: 1;
  }

  p {
    margin: 0;
    font-size: 12px;
    line-height: 1.3;
  }

  &__item-1 {
    float: left;
    width: 120px;
    color: #3a7dbb;
    margin-right: 45px;
  }

  &__item-2 {
    float: left;
    width: 190px;
    color: #5b286e;
    margin-right: 45px;
  }

  &__item-3 {
    float: left;
    width: 125px;
    color: #ce1350;
  }
}


.slide-3 {
  min-height: 100vh;
  position: relative;
}

.calculate {
  margin-top: 45px; 
  color: #52555c;

  &__heading {
    font-family: 'ProximaNovaBold';
    color: #4182bd;
  }

  &__investment {
    font-family: 'ProximaNovaBold';
    font-size: 16px;
    margin-right: 24px;
  }

  &__value {
    width: 150px;
    height: 47px;
    margin-right: 26px;
  }

  &__range {
    margin-right: 30px;
  }

  .btn {
    background: #d43065;
  }
}

.s3-content {
  margin-top: 80px;

  &__heading {
    font-family: 'ProximaNovaBold';
    color: #4182bd;
    font-size: 30px;
  }

  .btn {
    background: #3d4258;
    margin-top: 15px;
    padding: 14px 30px;
  }
}


.slide-4 {
  
  background: #3d4258;
  position: relative;
  padding-top: 2%;

  .container {
    min-height: calc(100vh - 90px);
  }
  
}

.advantages {
 
  color: #fff;
  
  &__item {
    display: block;
    width: 300px;
    height: 200px;
    background: #3a7dbb;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    color: #fff;

    

    h3 {
      font-family: 'ProximaNovaBold';
      position: absolute;
      height: 67px;
      width: 100%;
      bottom: 0;
      margin: 0;
      text-align: left;
      padding: 9px 22px;
      font-size: 18px;
      background: #264a76;
    }

    img {
      margin-top: 37px;
      max-width: 64px;
      max-height: 64px;
    }

    &--purple {
      background: #5b286e;

      h3 {
        background: #37204f;
      }
    }

    &--crimson {
      background: #ce1350;

      h3 {
        background: #701640;
      }
    }
  }

  h1 {
    font-family: 'ProximaNovaBold';
    font-size: 30px;
    margin-bottom: 25px;
    margin-left: 10px;
  }

  .btn {
    background: #ce1350;
    margin-top: 15px;
    padding: 13px 30px;
    margin-left: 10px;
  }
}

.main-footer {
  color: #fff;
  background: #42475c;
  
  width: 100%;
  height: 60px;
  padding-top: 8px;

  &__copyright {
    float: left;
  }

  &__made-by {
    float: right;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.fp-tableCell {
  vertical-align: top !important;
}